<navbar class="navCatModal">
    <ul>
        {% for categoria in categorias %}
        {% if categoria.id != 1 %}
        <li id="categoria{{ categoria.id }}" class="appCat pointer">
            <img class="imgCategoriaBig" src="{{ categoria.imgDir }}">
            <div class="nombreCat">
            {{ categoria.nombre }}
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</navbar>

<div class="navProModal">
{% for categoria in categorias %} 
{% if categoria.id != 1 %}
<ul class="categoria{{ categoria.id }} hidden">
    {% for producto in productos %}
    {% if producto.categoria == categoria.id %}
    <li id="{{ producto.id }}" class="añadirCarrito pointer">
        <div><img class="imgProducto"  src="{{ producto.imgDir}}"></div>
        <div class="contenidoProducto"><span class="nombreProducto">{{ producto.nombre }}</span><span class="precio"><span class="precioProducto">{{producto.precio}}</span>€</span></div>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endfor %}
</div>


<div class="navToolsModal">
    <div class="botonCerrarDiv">
        <button id="cerrarModal">X</button>
    </div>
    <div class="carrito">
        <h3>Consumiciones</h3>
        <div id="carrito">
            <ul id="listaCarrito">

            </ul>
        </div>
        <div>Total: <span id="totalCarrito">0</span>€</div>
        <button id="botonPedir">Pedir</button>
    </div>
</div>