<ul class="categorias">
    <li class="categoria addCategoria">
        <div class="toggle editar"><img class="icon" src="../../Views/img/añadir.png"> Añadir Categoria</div>
        <div class="toggle hidden formCat">
            <form id="newCat" method="post" enctype="multipart/form-data"> 
                <div class="infoCatForm">
                    <input type="text" name="newCatNombre" placeholder="Nombre" required autofocus>
                    <input type="file" name="newCatImg">
                </div>
                <div class="botonesCat">
                    <input class="aceptar" type="submit" name="newCategoria" value="Añadir">
                    <button class="cancelar">Cancelar</button>
                </div>
            </form>
        </div>
    </li>
    
    {% for categoria in categorias %}
    <li class="categoria" id="{{ categoria.id }}">
       <div class="toggle headerCategoria">
           <div class="despliegaCat infoHeader">
               <img class="imgCategoria" src="{{ categoria.imgDir }}"> 
               <span>{{ categoria.nombre }}</span>
           </div>
           <div class="iconos">
               <img class="icon editar" src="../../Views/img/editar.png">
               <img class="icon deletecat" src="../../Views/img/borrar.ico">
           </div>
       </div>
       <div class="headerCategoria toggle hidden">
           <form class="editCat" method="post" enctype="multipart/form-data">
               <div class="infoCatForm">
                    <input type="text" name="editCatNombre" placeholder="{{ categoria.nombre }}" value="{{ categoria.nombre }}" required autofocus>
                    <input type="file" name="editCatImg">
                    <input type="hidden" name="defaultCatImg" value="{{ categoria.imgDir }}">
                    <input type="hidden" name="editCatId" value="{{ categoria.id }}">
               </div>
               <div class="botonesCat">
                    <input class="aceptar" type="submit" name="editCategoria" value="Editar">
                    <button class="cancelar">Cancelar</button>
               </div>
            </form>
        </div>
        <ul class="hidden unhideCat productos">
            <li class="producto">
                <div class="toggle editar"><img class="icon" src="../../Views/img/añadir.png"> Añadir Producto</div>
                <div class="toggle hidden">
                    <form class="addProducto" method="post" enctype="multipart/form-data">
                        <div class="headerProducto">
                            <input type="text" name="newProNombre" placeholder="Nombre" required autofocus>
                            <input type="number" name="newProPrecio" placeholder="Precio" required>€
                        </div>
                        <div class="infoProducto">
                           <div class="imgForm">
                               <input type="file" name="newProImg">
                           </div>
                           <div class="infoForm">
                               <div class="descForm">
                                   <p>Descripcion:</p>
                                   <p>
                                        <input type="textarea" name="newProDesc" placeholder="Descripcion">
                                   </p>
                               </div>
                               <div class="otrosForm">
                                   <input type="hidden" name="newProCat" value="{{categoria.id}}">
                                   <p>
                                       Tipo: <select name="newProTipo">
                                            <option value="1" selected>Comida</option>
                                            <option value="2">Bebida</option>
                                            <option value="3">Postre</option>
                                       </select>
                                   </p>
                               </div>
                            </div>
                            <div class="botones">
                               <input class="aceptar" type="submit" name="newProducto" value="Añadir">
                               <button class="cancelar">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
            {% for producto in productos %}
            {% if producto.categoria == categoria.id %}
            <li class="producto" id="{{ producto.id }}">
                <div class="toggle despliegaPro">
                    <div class="headerProducto">
                        <div class="infoHeader">
                        <span>{{producto.nombre}}</span> <span>{{producto.precio}}€</span>
                        </div>
                        <div class="iconosPro">
                            <img class="icon editar" src="../../Views/img/editar.png">
                            <img class="icon deletePro" src="../../Views/img/borrar.ico">
                        </div>
                    </div>
                    <div class="hidden unhidePro infoProducto">
                        <div class="imgProDiv"><img class="imgProducto" src="{{producto.imgDir}}"></div>
                        <div class="infoPro2">
                            <p><strong>Descripcion:</strong> {{producto.descripcion}}</p>
                            <p><strong>Tipo:</strong> {{ producto.tipo}}</p>
                        </div>
                    </div>
                </div>
                <div class="toggle hidden">
                    <form class="editPro" method="post" enctype="multipart/form-data">
                        <div class="headerProducto">
                            <input type="text" name="editProNombre" placeholder="{{producto.nombre}}" value="{{producto.nombre}}" required autofocus>
                            <input type="number" name="editProPrecio" placeholder="{{producto.precio}}" value="{{ producto.precio}}" required>€
                        </div>
                        <div class="infoProducto">
                            <div class="imgForm">
                                <input class="inFile" type="file" name="editProImg">
                                <input type="hidden" name="defaultProImg" value="{{ usuario.imgDir }}">
                            </div>
                            <div class="infoForm">
                               <div class="descForm">
                                   <p>Descripcion:</p>
                                   <p>
                                       <input type="textarea" name="editProDesc" rows="5" placeholder="{{producto.descripcion}}" value="{{ producto.descripcion}}">
                                   </p>
                                </div>
                                <div class="otrosForm">
                                    <p>
                                    Categoria: <select name="editProCat">
                                       {% for categoria in categorias %}
                                       <option value="{{categoria.id}}">{{ categoria.nombre}}</option>
                                       {% endfor %}
                                    </select>
                                    </p>
                                    <p>
                                    Tipo: <select name="editProTipo">
                                        <option value="1" selected>Comida</option>
                                        <option value="2">Bebida</option>
                                        <option value="3">Postre</option>
                                    </select>
                                    </p>
                                </div>
                            </div>
                            <div class="botones">
                                <input type="hidden" name="editProId" value="{{ producto.id }}">
                                <input class="aceptar" type="submit" name="editProducto" value="Editar">
                                <button class="cancelar">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>   
            {% endif %}
            {% endfor %}
        </ul>
    </li> 
    {% endfor %} 
</ul>