{% extends "Common/common.html.twig" %}
{% block contenido %}
<navbar>
    <ul>
        {% for categoria in categorias %}
        {% if categoria.id != 1 %}
        <li id="categoria{{ categoria.id }}" class="appCat">{{ categoria.nombre }}</li>
        {% endif %}
        {% endfor %}
    </ul>
</navbar>

{% for categoria in categorias %} 
{% if categoria.id != 1 %}
<ul class="categoria{{ categoria.id }} hidden">
    {% for producto in productos %}
    {% if producto.categoria == categoria.id %}
    <li id="{{ producto.id }}">
        <div><img class="imgProducto"  src="{{ producto.imgDir}}"></div>
        <div><p>{{ producto.nombre }} {{producto.precio}}€</p></div>
        <button class="añadirCarrito">Añadir</button>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endfor %}

<!-- El carrito va aqui  -->
<div id="carrito">
    <ul id="listaCarrito">
    

    </ul>
    <button id="botonPedir">Pedir</button>
</div>

<!-- Aqui va el pedido -->
<div id="pedido">

<button id="botonPagar">Pagar</button>
</div>
{% endblock %}


